<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>student marks</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll NO</th>
                <th>W</th>
                <th>WAD</th>
                <th>CC</th>
                <th>DSBDA</th>
                <th>CNS</th>
                <th>AI</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student=>{ %>
                <tr>
                    <td><%= student.Name %></td>
                    <td><%= student.Roll_No %></td>
                    <td><%= student.WAD_Marks %></td>
                    <td><%= student.CC_Marks %></td>
                    <td><%= student.DSBDA_Marks %></td>
                    <td><%= student.CNS_Marks %></td>
                    <td><%= student.AI_marks %></td>
                </tr>
           <% })%>
        </tbody>
    </table>
</body>
</html>